html {background-color: aquamarine;}


* {text-align: center;}

img { height: 200px;
width: 200px;}

h3 { font-family: 'Comme', sans-serif;
    font-family: 'Instrument Serif', serif;}

h3 {font-size: 20px;}

h1 {font-size: 40px;}

img {box-align: left;}

